In [5]:
%reload_ext autoreload
%autoreload 2

In [6]:
from fastai import *
from fastai.tabular import *

In [63]:
d = pd.read_csv('all3weekmod.csv')

In [8]:
b = pd.read_csv('all3weekmod.1500200.csv')

In [9]:
c = pd.read_csv('all3weekmod5001000500.csv')

In [85]:
a['num_orders'] = .35*d['num_orders'] + .25*b['num_orders'] + .225*c['num_orders'] + .175*e['num_orders']

In [86]:
a.to_csv('comp.csv')

In [56]:
b[:10]

        id  num_orders
0  1028232  180.607350
1  1127204  193.797590
2  1212707  116.030590
3  1082698   42.932750
4  1400926   33.976288
5  1284113  179.684860
6  1197966  186.828170
7  1132739  190.003520
8  1057981   99.459450
9  1095932   84.345924

In [57]:
c[:10]

        id  num_orders
0  1028232  194.676730
1  1127204  188.558530
2  1212707  134.498700
3  1082698   39.373710
4  1400926   34.046627
5  1284113  192.930510
6  1197966  199.485690
7  1132739  203.053860
8  1057981   94.315330
9  1095932   89.003960

In [87]:
aa = sum(abs(a['num_orders']-d['num_orders']))
aa

353399.6284599656

In [88]:
bb = sum(abs(a['num_orders']-b['num_orders']))
bb

426871.6635929433

In [89]:
cc = sum(abs(a['num_orders']-c['num_orders']))
cc

411102.81898580905

In [90]:
e = pd.read_csv('all3weekmod-1.csv')
ee = sum(abs(a['num_orders']-e['num_orders']))
ee

675167.3616824195

In [91]:
z = pd.read_csv('outputJustTrainTable.csv')
zz = sum(abs(a['num_orders']-z['num_orders']))
zz

9295059.977654329

In [117]:
j = pd.read_csv('j2.csv')
jj = sum(abs(a['num_orders']-j['num_orders']))
jj

1324451.7008337043